/* CSS for the quiz application */

.slot {
  border: 2px dashed #ccc;
  min-height: 60px;
  padding: 10px;
  margin-bottom: 15px;
  background-color: #fff;
}

.drag-over {
  border-color: #333;
  background-color: #eef;
}

.draggable-item {
  cursor: grab;
}

/* Header styles */
.header {
  background-color: #fff;
  border-bottom: 3px solid red;
  padding: 15px;
}

.countdown {
  font-size: 24px;
  font-weight: bold;
}

/* Footer styles */
.footer {
  background-color: #dae6f1;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 999;
}

.footer .btn {
  font-weight: bold;
  padding: 10px 20px;
  font-size: 16px;
}

.footer .btn-back {
  background-color: #f1c40f; /* Yellow */
  border: none;
}

.footer .btn-next {
  background-color: #2ecc71; /* Green */
  border: none;
}

.footer .btn-next:hover, .footer .btn-back:hover {
  opacity: 0.8; /* Hover effect */
}

/* New CSS for Check Result button */
.footer .btn-check-result {
  background-color: #3498db; /* Blue */
  border: none;
  color: white; /* White text */
}

.footer .btn-check-result:hover {
  opacity: 0.8; /* Hover effect */
  background-color: #2980b9; /* Darker blue on hover */
}

.footer .btn:disabled {
  background-color: #ccc; /* Disabled state */
}

/* Ensure content does not overlap with footer */
.main-content {
  margin-bottom: 60px; /* Adjust according to footer height */
}


/* Time remain label styles */
.time-remaining-label {
  font-size: 18px;
  font-weight: bold;
  margin-right: 10px;
}

#question_id {
  padding-top: 20px; /* CÄn toÃ n bá» khá»i lÃªn phÃ­a trÃªn vá»i khoáº£ng cÃ¡ch 20px */
}

/* Pháº§n fix cÃ¢u 4 */
.select-fixed {
    width: 100px;
  }


      /* Style cho ÄÃ¡p Ã¡n */
    .answer-box {
        background-color: #e0f7fa; /* Ná»n mÃ u xanh nháº¹ */
        border: 2px solid #26c6da; /* Viá»n mÃ u xanh Äáº­m */
        padding: 20px; /* Khoáº£ng cÃ¡ch giá»¯a ná»i dung vÃ  viá»n */
        margin-top: 20px;
        border-radius: 10px; /* Bo gÃ³c cho box */
        font-size: 16px; /* KÃ­ch thÆ°á»c font */
        display: none;  /* Ban Äáº§u áº©n */
    }

    .answer-box p {
        margin-bottom: 10px; /* Khoáº£ng cÃ¡ch giá»¯a cÃ¡c Äoáº¡n vÄn */
    }

    .answer-box p strong {
        color: #00796b; /* MÃ u chá»¯ cho tiÃªu Äá» "ÄÃ¡p Ã¡n" */
    }

/* Highlight correct and incorrect answers only in the results table */
.correct {
    color: green;
}
.incorrect {
    color: red;
}

/* Äá»nh dáº¡ng mÃ u cho nÃºt ÄÆ°á»£c chá»n */
.btn-active {
    background-color: #007bff;  /* MÃ u xanh cho nÃºt Äang ÄÆ°á»£c chá»n */
    color: white;  /* MÃ u chá»¯ tráº¯ng */
    border: none;  /* Loáº¡i bá» ÄÆ°á»ng viá»n */
}



/* MÃ u sáº¯c Äáº¹p cho tá»ng Äiá»m vÃ  phÃ¢n loáº¡i */
#totalScore {
    color: #28a745;  /* MÃ u xanh lÃ¡ Äáº­m */
    font-weight: bold;
    font-size: 1.5rem;  /* Äáº·t kÃ­ch thÆ°á»c chá»¯ cho dá» nhÃ¬n */
}

#scoreClassification {
    color: #007bff;  /* MÃ u xanh dÆ°Æ¡ng */
    font-weight: bold;
    font-size: 1.5rem;  /* Äáº·t kÃ­ch thÆ°á»c chá»¯ cho dá» nhÃ¬n */
}

 /* ThÃªm padding Äá» hiá»n Äáº§y Äá»§ hÆ¡n - vÃ¬ sá»£ footer nÃ³ chiáº¿m khÃ´ng gian */
#comparisonResult_question1 {
    padding-bottom: 80px; 
}

#comparisonResult_question2 {
    padding-bottom: 80px; 
}
#comparisonResult_question3 {
    padding-bottom: 80px; 
}
#comparisonResult_question4 {
    padding-bottom: 80px; 
}
#comparisonResult_question5 {
    padding-bottom: 80px; 
}

#question1 {
    padding-bottom: 80px; 
}
#question2 {
    padding-bottom: 80px; 
}
#question3 {
    padding-bottom: 80px; 
}
#question4 {
    padding-bottom: 80px; 
}
#question5 {
    padding-bottom: 80px; 
}



#loading-spinner {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999; /* Äáº£m báº£o spinner luÃ´n hiá»n thá» trÃªn cÃ¹ng */
}
